Source: libdisplaycore-driver-sdl
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-driver-sdl
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: Virtual
Depends: libdisplaycore-core
Provides: SDL.h
Description: SDL
 Create rich Linux GUI applications.



